
@font-face {
  font-family: Poppins;
  src: url('../src/assets/fonts/Poppins-Regular.ttf');
}

@font-face{
  font-family: Inter;
  src: url('../src/assets/fonts/Inter-VariableFont_opsz,wght.ttf')
}
@import "tailwindcss";

@theme{
  --font-poppins: Poppins, 'sans-serif';
  --font-inter: Inter, 'sans-serif';
}

